<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="/estilos.css" rel="stylesheet">
    <title>Jobify</title>
    </head>
    <body>
      
<h1><a href="/"><img src="/images/LogoJobFy.png" alt="JobiFy - by DevPleno" width="400"></a></h1>
<p>We are Jobify - Join US</p>

