       <%- include('header') %>



       <h2>Admin:</h2>
       <ul>
           <li><a href="/admin/categorias">Gerenciar Categorias</a></li>
           <li><a href="/admin/vagas">Gerenciar Vagas</a></li>
       </ul>


       <%- include('footer')%>